* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Trirong", serif;
    scroll-behavior: smooth;

}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 13, 13);
    list-style-type: none;
}

th {

    background-color: rgb(185, 240, 234);
}

tr td {
    background-color: rgba(107, 206, 241, 0.057);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;

}

table li {
    text-align: right;
    float: left;
}

table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: static;
}

li a:hover {
    background-color: #111;
    color: white;
}

.table {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

table,
td,
th {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}


input[type=text],
input[type=date],
input[type=email],
input[type=password],
input[type=number] {
    width: 90%;
    height: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding-top: 15px;
    position: static;
}


.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.form {
    color: rgb(12, 12, 12);
    object-fit: cover;
    width: 500px;
    padding: 19px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 15px;

}

.registerbtn {
    background-color: #080808;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

#psw-match,
#psw-match2 {
    font-weight: bold;
    color: rgb(37, 97, 161);
}